@import url('./_common_styles.css');
@import url('./_reset.css');

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	overflow: clip;
	width: 1512px;
	margin: auto;
	background-color: rgba(255, 255, 255, 1);
}

.wrapper > main {
	flex: 1;
}

[class*='__container'] {
	max-width: 1196px;
	margin: 0 auto;
}

header {
	display: flex;
	justify-content: center;
	max-width: 1512px;
	width: 100%;
	height: 64px;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1512px;
	width: 100%;
	height: 64px;
}

/* HEADER левая часть */
.nav-left {
	display: flex;
	justify-content: start;
	align-items: center;
	max-width: 100%;
	margin: 30px;
	width: 750px;
	max-height: 42px;
	font-size: 14px;
}

/* логотип */
.link-logo {
	max-width: 120px;
	max-height: 35px;
	top: 4px;
}

/* форма с 2 инпутом и кнопка */
.nav__form {
	max-width: 592px;
	width: 100%;
	max-height: 42px;
	padding-left: 40px;
	font-size: 16px;
}
/* див в форме */
.nav-search-wrapper {
	max-width: 592px;
	width: 100%;
	max-height: 42px;
	display: flex;
	justify-content: start;
	align-items: center;
	font-size: 16px;
	font-weight: 400;
}

.loop-input-container {
	position: relative;
	max-width: 300px;
	width: 100%;
	margin: 10px auto;
	border-radius: 8px 0 0 8px;
	border: 1px solid rgba(217, 217, 217, 1);
}

/* для вставки лупы в input */
.loop-container {
	position: absolute;
	left: 12px;
	top: 50%;
	transform: translateY(-50%);
	max-width: 17px;
	max-height: 18px;
	pointer-events: none;
}

.loop-container img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.input-left {
	width: 100%;
	padding: 10px 15px 10px 40px;
	height: 42px;
}

.input-button-container {
	display: flex;
	align-items: center;
	max-width: 254px;
	width: 100%;
	margin: 10px auto;
	margin-left: 0;
	border: 1px solid rgba(217, 217, 217, 1);
	border-radius: 0 8px 8px 0;
}
.input-right {
	max-width: 100%;
	width: 254px;
	height: 42px;
	color: rgba(0, 0, 0, 1);
	padding-left: 17px;
}
.search-button {
	max-width: 100%;
	width: 42px;
	height: 42px;
	border-radius: 0 8px 8px 0;
	border: none;
	background-color: rgba(246, 88, 88, 1);
}

/* HEADER правая часть */
.nav-right {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	margin-right: 4px;
}

.nav__language-icon {
	margin-right: 6px;
}

.select-language {
	display: flex;
	align-items: center;
	font-weight: 500;
}

.btn-log-in {
	margin-left: 22px;
	margin-right: 22px;
}

.btn-sign-up {
	color: rgba(255, 255, 255, 1);
	padding: 8px 16px;
	border-radius: 8px;
	background-color: rgb(0, 121, 138, 1);
}

/* SECTION */
.events-nearby {
	margin-top: 88px;
	padding: 0 40px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.events-nearby-list {
	max-width: 57%;
}
.events-nearby-list__header {
}
.events-nearby-list__title {
	color: rgb(0, 0, 0);
	font-size: 28px;
	font-weight: 600;
	line-height: 36px;
}
.events-nearby-list__location {
}
.events-nearby-list__link {
	margin-top: 20px;
}
.events-nearby-list__tab {
	color: rgb(0, 121, 138, 1);
	font-size: 20px;
	font-weight: 500;
	margin-right: 24px;
}

/* ФИЛЬТР */
.events-nearby-list__selectors {
	display: flex;
	margin-top: 12px;
	justify-content: space-between;
}

.events-nearby-list__selectors {
	overflow-x: scroll;
	max-width: 700px;
}

.b-type {
	width: 120px;
}

.b-distance {
	width: 120px;
}

.b-category {
	width: 120px;
}

/* Event */
.event-item-separator {
	margin: 10px 0 10px 0;
	border-top: 1px solid grey;
}

.event-item-info {
	display: flex;
	gap: 12px;
}

.event-item-info-image {
	position: relative;
}

.event-item-info-image-picture {
	width: 160px;
	height: 90px;
	border-radius: 8px;
}

.event-item-info-image-svg-desktop {
	position: absolute;
	width: 105px;
	height: 20px;
	top: 8px;
	left: 8px;
	border-radius: 4px;
}

.event-item-info-image-svg-mob {
	position: absolute;
	width: 105px;
	height: 20px;
	left: -5px;
	border-radius: 4px;
}

.event-item-info-data {
	position: relative;
	font-weight: 500;
}

.event-item-info-data-attendees {
	position: absolute;
	bottom: 0;
	color: rgb(112, 112, 112, 1);
	font-size: 14px;
	font-weight: 400;
}

/* MAP */
.events-nearby-map {
	position: relative;
}
.events-nearby-map__header {
}
.events-nearby-map__title {
	color: rgb(33, 33, 33, 1);
	font-size: 12px;
	font-weight: 500;
}
.events-nearby-map__location {
	color: rgb(33, 33, 33, 1);
	font-size: 20px;
	font-weight: 700;
}
.events-nearby-map__container {
	margin-top: 14px;
	width: 350px;
	height: 285px;
	overflow: hidden;
	border-radius: 8px;
	filter: blur(4px);
	pointer-events: none;
	position: relative;
}

.events-nearby-button-on-map {
	position: absolute;
	top: 150px;
	left: 80px;
}

/* FOOTER */
.footer {
	max-width: 100%;
	margin-top: 54px;
	color: rgba(246, 247, 248, 1);
	background-color: rgb(33, 33, 33, 1);
	padding-top: 10px;
}
.footer__top {
	max-width: 1196px;
	margin: 0 auto;
	margin-top: 32px;
	padding: 20px 48px;
}

.footer__top hr {
	border: none;
	background-color: rgb(112, 112, 112, 1);
	height: 1px;
	margin-top: 20px;
}
.footer__create-group {
	display: flex;
	align-items: center;
}
.footer__title {
	color: rgb(246, 247, 248, 1);
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: 1px;
	margin-right: 48px;
}
.footer__get-started {
	border: 2px solid rgb(255, 255, 255, 1);
	border-radius: 6px;
	font-size: 16px;
	color: rgba(255, 255, 255, 1);
	font-weight: 600;
	line-height: 24px;
	letter-spacing: 1px;
	padding: 10px 15px;
}
.footer__middle {
	max-width: 1196px;
	margin: 0 auto;
	padding: 0 48px;
	display: flex;
	justify-content: space-between;
}
.footer__column {
	width: 33%;
}
.footer__column h3 {
	color: rgb(246, 247, 248, 1);
	font-size: 16px;
	font-weight: 400;
}
.footer__column ul li {
	margin-top: 8px;
}
.footer__column ul li a {
	color: rgb(197, 196, 196, 1);
	font-size: 14px;
	font-weight: 400;
}
.footer__bottom {
	max-width: 1196px;
	margin: 0 auto;
	margin-top: 42px;
	padding: 30px 48px;
	display: flex;
	align-items: end;
	flex-wrap: wrap;
}
.footer__social {
	margin-right: auto;
}
.footer__social > p {
	padding-bottom: 10px;
	color: rgb(246, 247, 248, 1);
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.footer__social > a {
	margin-right: 38px;
}

.footer__social a img {
	width: 26px;
	height: 26px;
}
.footer__app-stores {
	margin-left: auto;
}
.footer__app-stores > a {
	width: 140px;
	height: 40px;
	margin-left: 24px;
}
.footer__copyright {
	flex-basis: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
	align-items: center;
	margin-top: 60px;
}

.footer__copyright > p {
	font-size: 14px;
	font-weight: 400;
}

.footer__copyright-links {
	display: flex;
	gap: 20px;
	padding-left: 20px;
}

.footer__copyright > a {
	color: rgb(197, 196, 196, 1);
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}

@media (max-width: 1024px) {
	.nav__form {
		visibility: hidden;
	}

	.footer__copyright-links {
		display: none;
	}
}
@media (max-width: 390px) {
	.wrapper {
		width: 100%;
	}

	header {
		max-width: 100%;
	}
}
